.main-wrapper {
  background-image: url("/lake_kawaguchi.jpg");
  background-size: cover;
  background-position: center;
}

main .col:first-child {
  background-color: var(--ifm-navbar-background-color);
  opacity: 0.8;
  border-radius: 10px;
}

/* blog */
.blog-wrapper nav {
  background-color: var(--ifm-navbar-background-color);
  opacity: 0.6;
  border-radius: 6px;
  padding: 6px 12px;
}

.blog-wrapper main article {
  background-color: var(--ifm-navbar-background-color);
  opacity: 0.8;
  border-radius: 10px;
  padding: 6px 16px;
}

.blog-wrapper main article h2 {
  font-size: 2rem;
  padding: 8px 0;
}
